<div class="container">
     <div class="row">
            <div class="col-sm-12 pt-5">
               
                <h1 class="text-center display-2  font-weight-bold mt-4">Wifi Kart</h1>
            </div>
            <div class="col-sm-6 order-md-2 ">
            <img class="d-block mx-auto pol" src="/img/car.jpg" alt="Martin Garrix" >
            </div>
            <div class="col-sm-6 text-center p-5  order-md-1">
                <p class="text-center text-description  font-weight-bold">
                    Con WiFi-kart tienes acceso a controlar un carrito con camara integrada. Ingresa y disfruta la experiencia !!!
                </p>
                <form action="index.html">
                    <input class="form-control rounded-pill my-4 text-center " type="email" name="Write your Email"
                        placeholder="Enter your email">
                    <button type="submit" class="btn btn-danger bg-transparent  ">
                        <strong>COMIENCE</strong>
                    </button>
                </form>
                <ul class="list-unstyled list-inline mt-4">
                    <li class="list-inline-item">
                        <a href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
</div>