<div class="container">
     <div class="row">
            <div class="col-sm-12 my-4">
               
                <h1 class="text-center display-2 text-uppercase font-weight-bold mt-4 tx">WiFi Car</h1>
            </div>
            <div class="col-sm-6">
                <img src="img/chris.png" class="pol">
            </div>
            <div class="col-sm-6 text-center p-5">
                <p class="text-center text-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam
                    exercitationem reprehenderit dolor corrupti est?</p>
                <form action="index.html">
                    <input class="form-control rounded-pill my-4 text-center" type="email" name="Write your Email"
                        placeholder="Enter your email">
                    <button type="submit" class="btn btn-danger bg-transparent  ">
                        <strong>COMIENCE</strong>
                    </button>
                </form>
                <ul class="list-unstyled list-inline mt-4">
                    <li class="list-inline-item">
                        <a href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
</div>