<main>
<div class="container mt-1 position-relative">
    <div class="row">
        <div class="col-sm-12 ">

            <h1 class="text-center display-3  font-weight-bold mt-4 title1 cel"><i class="fas fa-wifi"></i> Wifi Car</h1>
        </div>
        <div class="col-sm-6 order-md-2  mt-4">
            <img class="d-block mx-auto pol" src="/img/car-min.png" alt="Martin Garrix">
        </div>
        <div class="col-sm-6 text-center p-4  order-md-1">
            <p class="text-center text-description  ">
                Ahora tú puedes <strong>CONTROLAR UN <img src="https://img.icons8.com/cute-clipart/35/000000/fiat-500.png">  CARRITO </strong>en tiempo real. Ingresa y disfruta de la
                experiencia.
            </p>

            <a href="/app/register" class="btn btn-danger btn-lg">
                <strong> Registrate Gratis  </strong>
            </a>


            <ul class="list-unstyled list-inline mt-4">
                <li class="list-inline-item ">
                    <a href="https://www.facebook.com/SensationL3D" target="_blanck">
                        <img src="https://img.icons8.com/cute-clipart/50/000000/facebook.png" alt="facebook">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/jesus-christian-c/" target="_blanck">
                        <img src="https://img.icons8.com/cute-clipart/50/000000/linkedin.png" alt="linkedin">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com/KhrisWeb" target="_blanck">
                        <img src="https://img.icons8.com/cute-clipart/50/000000/twitter.png" alt="twitter">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.youtube.com/channel/UCMSAFeXqt5Qvek6xLqra29w?view_as=subscriber" target="_blanck">
                        <img src="https://img.icons8.com/cute-clipart/50/000000/youtube-play.png" alt="youtube">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


</main>