body {
  position: sticky;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.bg-total {
  background: linear-gradient(rgba(219, 224, 243, 0.8), rgb(0, 106, 255, 0.9)),
    url("/img/C-min.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-attachment: fixed;
}

.logo {
  height: 40px;
  margin-top: 20px;
}

.text-description {
  letter-spacing: 5px;
  font-family: sans-serif;
  color: #fff;
}

.form-group {
  color: rgba(0,0,0,.5);
}


a .fab {
  color: azure;
  font-size: 30px;
  margin: 0 10px;
}

.pol {
  width: 21rem;
  height: 17rem;
}

nav {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1000;
  background: transparent !important;
  color: aliceblue;
}
nav ul li {
  color: crimson;
}
nav ul li a:hover {
  background: rgba(16, 69, 185, 0.466);
  text-decoration-line: underline;
  border-radius: 15px;
}
.hexa {
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.title1 {
  text-shadow: 3px 3px 3px rgba(16, 69, 185, 0.466);
  color: azure !important;
}

.base {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  flex-direction: row;
  box-sizing: border-box;
}
.c1 {
  left: 0;
  top: auto;
  bottom: auto;
  min-width: 360px;
  max-width: 583px;
  z-index: 1;
  padding: 2rem;
  align-self: center;
  box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  position: absolute;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.514);
}

.c2 {
  z-index: 0;
  margin-top: 1rem;
  display: flex;
  background-color: rgb(53, 53, 61);
  position: relative;
  overflow: hidden;
  max-width: 856px;
  width: 92vw;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.514);
  border-radius: 10px;
}
.tx {
  text-shadow: 3px 3px 3px rgba(16, 69, 185, 0.466);
  color: azure !important;
}
.txpass{
  font-size: 14px;
  text-shadow: 3px 3px 3px rgba(16, 69, 185, 0.466);
  color: azure !important;
}

@media (max-width: 767.98px) {
  nav {
    background: linear-gradient(rgba(255, 255, 255, 0.9), #c9d8f6) !important;
    color: brown !important;
  }
  .cel {
    display: none !important;
  }
  .pol {
    width: 18rem;
    height: 13rem;
  }
  .base {
    flex-direction: column;
  }
  .c1 {
    position: relative !important;
    width: 10rem !important;
  }
  .c2 {
    position: relative !important;
    margin-bottom: 1rem;
    height: 22rem !important;
  }
}

@media (max-width: 992px) {
  .base {
    flex-direction: column;
  }
  .c1 {
    position: relative !important;
    width: 10rem !important;
  }
  .c2 {
    position: relative !important;
    margin-bottom: 1rem;
    height: 22rem !important;
  }
}
