<div class="container mt-5 pt-4 overflow-auto">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img src="/img/diagrama.webp" class="card-img-top" alt="diagrama">
        <div class="card-body">
          <p class="card-text">.</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
   <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    
  </div>
</div>