<div class="container mt-3 overflow-auto">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img src="/img/diagrama.webp" class="card-img-top aboutImage" alt="diagrama">
        <div class="card-body">
          <p class="card-text">Esquema electronico del carrito Wifi.</p>
          <ul>
            <li><a href="https://wiki.wemos.cc/products:d1:d1_mini" target="_blank" rel="noopener noreferrer">Wemos D1 mini. </a></li>
            <li><a href="https://www.google.com/search?client=firefox-b-d&q=modulo+l298n" target="_blank" rel="noopener noreferrer"> Modulo L298N 'Puente H'.</a></li>
            <li><a href="https://www.330ohms.com/products/hobby-motor-gear" target="_blank" rel="noopener noreferrer">2 motores 5V.</a></li>
            <li>Bateria 6v ~ 12V max.</li>
            <li><a href="https://www.google.com/search?client=firefox-b-d&q=tanque+orugas" target="_blank" rel="noopener noreferrer">Estructura del carrito con ruedas</a></li>
            <li>Muchas ganas por experimentar.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img src="/img/johnny.webp" class="card-img-top aboutImage" alt="johnny-5">
        <div class="card-body">
          <p class="card-text">Usaremos  <a href="http://johnny-five.io/examples/motor-hbridge/" target="_blank" rel="noopener noreferrer">Johnny-five</a> y <a href="https://socket.io/" target="_blank" rel="noopener noreferrer"> Socket.io</a> para recibir las respuestas de la API. </p> 
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img src="..." class="card-img-top aboutImage" alt="...">
        <div class="card-body">
          <p class="card-text">.</p>
        </div>
      </div>
    </div>

    
  </div>
</div>