<footer class="font-small navbar fixed-bottom text-center  ">
  <div class="footer-copyright text-center mx-auto  ">© 2019 Copyright:
    <a href="http://chrisweb.me" style="color:rgb(0, 0, 0);" target="__blanck"> Chrisweb</a>
  </div>
</footer>