<footer class="font-small navbar fixed-bottom text-center  ">
  <div class="footer-copyright text-center mx-auto  ">Copyright&copy; 2019 - Página creada por 
    <a href="http://chrisweb.me" style="color:rgb(0, 0, 0);" target="__blanck"> Jesus Christian Castillo </a>
    - Todos los derechos reservados
  </div>
</footer>