<footer class="font-small navbar fixed-bottom text-center  ">
  <div class="footer-copyright text-center mx-auto  ">Copyright&copy; 2020 -  
    <a href="https://www.chrisweb.me" style="color:rgb(0, 0, 0);" target="__blanck" rel="noopener"> Christian Castillo </a>
    
  </div>
</footer>