<!-- Footer -->
<footer class="page-footer font-small  ">

  <!-- Copyright -->
  <div class="footer-copyright text-center ">© 2019 Copyright:
    <a href="http://chrisweb.me" style="color:white;" target="__blanck"> Christian Castillo Lozano</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->