<nav class="navbar navbar-expand-lg navbar-light   w-100">
  <a class="navbar-brand font-weight-bold title1" href="/">
    <img src="/img/96.png" width="45" height="45" alt="icon" class="hexa">
    WiFi Kart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      
      {{#if user}}

      <li class="nav-item">
        
        <a class="nav-link font-weight-bold " href="/app/car/"><img src="https://img.icons8.com/cute-clipart/25/000000/hill-descent-control.png">Control</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="/about"><img src="https://img.icons8.com/cute-clipart/25/000000/help.png"> Acerca de</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="/logout"><img src="https://img.icons8.com/cute-clipart/25/000000/cancel.png"> Salir</a>
      </li>
      {{else}}
      <li class="nav-item ">
        <a class="nav-link font-weight-bold " href="/"><img src="https://img.icons8.com/cute-clipart/25/000000/home.png">Inicio </a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="/app/login"><img src="https://img.icons8.com/cute-clipart/25/000000/login-rounded-right.png"> Entrar</a>
      </li>
     

      {{/if}}
    </ul>
  </div>
</nav>