<nav class="navbar navbar-expand-lg navbar-light   w-100">
  <a class="navbar-brand font-weight-bold title1" href="#">WiFi Kart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      
      {{#if user}}

      <li class="nav-item">
        <a class="nav-link font-weight-bold " href="/app/car/">Control</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="/about">Acerca de</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="/logout">Salir</a>
      </li>
      {{else}}
      <li class="nav-item active">
        <a class="nav-link font-weight-bold " href="/">Inicio </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link font-weight-bold" href="/app/login">Entrar</a>
      </li>
     

      {{/if}}
    </ul>
  </div>
</nav>