<nav class="navbar navbar-expand-lg navbar-light   w-100">
  <a class="navbar-brand font-weight-bold title1" href="/">
    <img src="/img/96.png" width="45" height="45" alt="icon" class="hexa">
    WiFi Kart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      
      {{#if user}}

      <li class="nav-item">
        <a class="nav-link font-weight-bold " href="/app/car/"><i class="fas fa-car-side"></i> Control</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="/about"><i class="fas fa-book"></i> Acerca de</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="/logout"><i class="fas fa-sign-out-alt"></i> Salir</a>
      </li>
      {{else}}
      <li class="nav-item ">
        <a class="nav-link font-weight-bold " href="/"><i class="fas fa-home"></i> Inicio </a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="/app/login"><i class="fas fa-sign-in-alt"></i> Entrar</a>
      </li>
     

      {{/if}}
    </ul>
  </div>
</nav>