<div id="container"></div>
<div class="container base">
   <div class="c2 " style="width: 100%; height:30rem">
      <div class="container justify-content-center">
         <img src="https://img.icons8.com/color/48/000000/no-video.png">
      </div>
   </div>
   <div  class="c1 " style="width: 100%; height:20rem">
      <h4>Bienvenido {{user.name}}</h4>
      <small> <strong>Pulsa en la pantalla </strong><img src="https://img.icons8.com/color/48/000000/steering-wheel--v2.png"></small>
       
   </div>
</div>

<script src="/js/virtualjoystick.js"></script>
<script src="/js/joy.js"></script>