<div id="container"></div>
<div class="container base ">
   <div class="c2 " style="width: 100%; height:30rem">
      <div class="container text-center pt-5">
         <img src="https://img.icons8.com/cute-clipart/128/000000/no-video.png">
      </div>
   </div>
   <div class="c1 text-center  " style="width: 100%; height:20rem">
      <h4>Bienvenido {{user.name}}</h4>
      <small> <strong>Toca la pantalla para comenzar</strong></small>
      <div id="result"></div>
   </div>
</div>

<script src="/js/virtualjoystick.js"></script>
<script src="/js/joy.js"></script>