
<div class="container p-5 ">
  <h1>Registro</h1>
  <div class="mx-auto " style="width: 500px;">
<form action="/app/register" method="POST">
<div class="form-group">
          <label for="name">Nombre:</label>
          <input name="name" type="text" class="form-control" placeholder="Registra tu nombre" value="{{name}}" required autofocus>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input name="email" type="email" class="form-control" placeholder="Registra tu nombre" value="{{email}}" required autofocus>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input name="password" type="password" class="form-control" placeholder="Registra tu password" name="{{password}}" required>
        </div>
        
        
        <button type="submit" class="btn btn-primary">Registro</button>
      </form>
      </div>

      </div>