
<div class="container mt-4 position-relative ovf mt-5 pt-4 ">
  <h1 class="title1 display-4 font-weight-bold">Registro</h1>
  <div class="mx-auto " style="width: 20rem;">
    {{> msg}}
    {{> errors}}
    <form action="/app/register" method="POST">
      <div class="form-group">
        <label for="name"> <strong>Nombre</strong></label>
        <input name="name" type="text" class="form-control text-center" placeholder="Ingresa tu nombre"
          value="{{name}}" size="20" required autofocus>
      </div>
      <div class="form-group">
        <label for="email"> <strong>Email :</strong></label>
        <input name="email" type="email" class="form-control text-center" placeholder="Ingresa tu email"
          value="{{email}}" required autofocus>
      </div>
      <div class="form-group">
        <label for="password"><strong>Password:</strong></label>
        <input name="password" type="password" class="form-control text-center"
          placeholder="Ingresa tu password" name="{{password}}" size="20" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-block btn-primary"><strong>Registrate</strong></button>
      </div>
      <div class="form-group text-center">
        <div class="font-weight-bolder ">¿Ya tienes una cuenta?
          <a href="/app/login" class="font-weight-lighter  tx">Iniciar sesión</a>
        </div>
      </div>
    </form>
  </div>
</div>