<div class="container mt-4 position-relative ovf ">
    <h1 class="title1 display-4 font-weight-bold">Recover</h1>
      {{> msg}}
    {{> errors}}
    <div class="mx-auto " style="width: 20rem;">

        <form action="/app/reset/{{user.resetPasswordToken}}" method="POST">
            <div class="form-group">
                <label for="password"><strong>Nuevo password</strong></label>
                <input class="form-control text-center" type="password" name="password" value=""
                    placeholder="Introduce tu nuevo password" autofocus required>
            </div>
            <div class="form-group">
                <label for="confirm"><strong>Confirma tu password</strong></label>
                <input class="form-control text-center" type="password" name="confirm" value=""
                    placeholder="Confirma password" required>
            </div>
            <button type="submit" class="btn btn-primary">Actualizar password</button>
        </form>


    </div>
</div>